/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
main {
	margin-left: 245px;
	margin-right: 245px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
footer {
	margin-right: 107px;
}
.clickable {
	cursor: pointer;
}
.error {
	color: red;
}
.padding-top-20 {
	padding-top: 20px;
}
.flex-between {
	display: flex;
	justify-content: space-between;
}
.flex-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.flex-column {
	flex-direction: column;
}
.margin-t-100 {
	margin-top: 100px;
}
.margin-b-30 {
	margin-bottom: 30px;
}
.banniere {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	background-color: black;
	color: #ffffff;
	height: 60px;
}
.banniere i {
	font-weight: 400;
	padding-right: 10px;
}
.button-white {
	height: 38px;
	width: 216px;
	margin-left: 20px;
	font-weight: 500;
	font-size: 14px;
	background-color: #FFFFFF;
	text-align: center;
	border-radius: 60px ;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 150px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover,
a:hover {
	color: #B1663C;
}
a {
	text-decoration: none;
	color: black;
}
.active-page {
	font-weight: 600;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img,
.edit {
	display: block;
	width: 80%;
}
.edit {
	padding-top: 15px;
	font-size: 14px;
}
.edit i,
.edit-projets i,
.edit-mode i,
.modal-wrapper i {
	font-weight: 100;
}
.edit span,
.edit-projets span {
	padding-left: 10px;
}
.padding-left-30 {
	padding-left: 30px;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.categories {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 50px;
}
.category-button {
	border: 1px solid #1D6154;
	border-radius: 60px;
	background-color: white;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	padding: 9px 15px;
	color: #1D6154;
}
.category-button:hover {
	background-color: #d9ebe8;
}
.active {
	background-color: #1D6154;
	color: #FFFFFF;
}
.active:hover {
	background-color: #1D6154;
}
.one {
	order: -2;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 304px;
	height: 405px;
}
#contact,
#login {
	width: 50%;
	margin: auto;
}
#contact > *,
#login > * {
	text-align: center;
}
#contact h2,
#login h2{
	margin-bottom: 20px;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
#modal .modal-input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
#modal input[type="submit"] {
	width: 237px;
	margin: 2.3em auto 23px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.modal {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	animation: fadeIn .3s both;
}
.modal-wrapper,
.modal-div-gallery,
.modal-div-add-photo {
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: #FFFFFF;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	width: 630px;
	height: 730px;
	border-radius: 10px;
}
.modal[aria-hidden="true"] {
	animation-name: fadeOut;
}
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}
.buttons-modal {
	display: flex;
	justify-content: flex-end;
}
.button {
	background-color: white;
	border: none;
	margin-top: 32px;
}
.button-previous {
	display: none;
	text-align: start;
	margin-left: 16px;
}
.button-previous img {
	width: 21px;
	height: 14px;
}
.button-close {
	text-align: end;
	margin-right: 16px;
}
.title-modal {
	margin-top: 16px;
	text-align: center;
	font-weight: 400;
	font-size: 26px;
}
.gallery-photos {
	display: flex;
	flex-wrap: wrap;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 45px;
	padding-bottom: 66px;
	border-bottom: 1px solid #B3B3B3;
	gap: 7px;
}
.gallery-photos .delete-link {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 6px;
	top: 6px;
	width: 17px;
	height: 17px;
	font-size: 9px;
	color: #FFFFFF;
	border: none;
	background-color: #000000;
	border-radius: 2px;
}
.gallery-photos .move-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 17px;
	height: 17px;
	font-size: 9px;
	color: #FFFFFF;
	border: none;
	background-color: #000000;
	border-radius: 2px;
}
.gallery-photo {
	width: 80px;
	height: 105px;
}
.delete-all-aworks {
	text-align: center;
	color: #D65353;
}
.form-add-photo {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
	margin-left: 105px;
    margin-right: 105px;
	border-bottom: 1px solid #B3B3B3;
}
.width-100 {
	width: 100%;
	height: 51px;
}
.form-label {
	font-weight: 500;
	color: #3D3D3D;
	line-height: 16px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.div-add-photo,
.div-uploaded-photo {
	margin-top: 36px;
	width: 100%;
	height: 169px;
	background-color: #E8F1F7;
}
.image {
	width: 129px;
	height: 169px;
}
.div-add-photo i {
	color: #CBD6DC;
}
.file-icon {
	margin-top: 28px;
	font-size: 45px;
}
.button-add-label {
	display: flex;
	margin-top: 20px;
	margin-bottom: 7px;
	background-color: #CBD6DC;
	border-radius: 50px;
	border: none;
	width: 173px;
	height: 36px;
	color: #306685;
	font-size: 14px;
	justify-content: center;
	align-items: center;
}
.files-accepted {
	margin-bottom: 19px;
}
.add-title-input {
	padding-left: 16px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}
.add-title-input:focus,
.select-categories:focus {
	outline: none;
}
.select-categories {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    margin-bottom: 47px;
	font-family: 'Work Sans';
	font-size: 14px;
	padding-left: 16px;
}
.validate-button {
	height: 36px;
	font-size: 14px;
	line-height: 17px;
	border: none;
}
input[type="submit"].disabled {
	background: #A7A7A7;
}